body{
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: rgba(245, 247, 250, 1);
}

.container{
    background-color: white;
    width: 30rem;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

#addQuestionBtn{
    display: flex;
    justify-content: center;
    border-style: dashed;
    cursor: pointer;
}

#addQuestionBtn:hover{
    background-color: rgba(245, 247, 250, 1);
}