body{
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: rgba(245, 247, 250, 1);
}

.container{
    background-color: white;
    width: 30rem;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

.question-title{
    padding-bottom: 1rem;
    border-bottom: 2px solid #eee;
}

.response{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.response-input-block{
    border-bottom: none;
}

.response-input-block input{
    width: 80%;
}

.choice{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.choice:hover{
    background-color: rgba(245, 247, 250, 1);
}

.choice-selected{
    background-color: rgba(245, 247, 250, 1);
}